@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{ --a:0; }
* 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body 
{
    background-color: black;
    color: white;
}

/* Left Part */

.left 
{
    width: 25vw;
    padding: 10px;
}
.right 
{
    width: 75vw;
}
.home ul li 
{
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}
.close  {  display: none; }

.search
{
    background-color: #16181c;
    color: white;
    padding: 6px;
    padding-right: 50px;
    border-radius: 50px;
    border-style: none;
    border: 0.5px solid gray;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}
.library 
{
    min-height: 82vh;
    position: relative;
}
.heading img {
    width: 30px;
}
.heading 
{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.songList ul li {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}
.songList ul {
    padding: 0 12px;
}
.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}
.info {
    display: flex;
    align-items: center;
    font-size: 13px;
    width: 344px;
    word-break: break-all;
}
.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}
.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer 
{
    display: flex;
    font-size: 13px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 75px;
}
.footer a  
{
    color: grey;
    text-decoration: none;
}
.btn-black
{
    background-color: #151314;
    color: white;
    border: 1px solid #525050;
    padding: 8px 15px 8px 10px;
    font-size: 14px;
    font-weight: 650;
    border-radius: 30px;
    display: flex;
    gap: 6px;
    position: relative;
    bottom: -40px;
    left: 10px;
}

/* Right Part */

.right {  margin: 16px 0; }
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
    padding: 20px;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.openApp a:hover, .signupbtn:hover
{
    color: white;
}
.openApp a  {
    color: rgb(156, 148, 148);
    text-decoration: none;
}
.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}
.header_buttons>* {
    margin: 0 12px;
}
.spotifyPlaylists,.spotifyPlaylists h1 {
    padding: 16px;
}
.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh; 
}
.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}
.card>* {
    padding-top: 10px;
}
.card img {
    width: 100%;
    object-fit: contain;
}
.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}
.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.seekbar {
    height: 6px;
    width: 98%;
    border-radius: 10px;
    position: absolute;
    bottom: 3px;
    margin: 6px;
    cursor: pointer;
    background: white; 
}
.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.3s;
} 
.fill 
{
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 8px;
    background: #e246ab; /* Spotify green */
    transition: width 0.1s linear;
}
.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songinfo 
{
    color: black;
    padding: 0 12px;
    width: 250px;
}
.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}
.volumeicon,input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.inside_playbar 
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }
    .left .close {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .right {
        width: 100vw;
        margin: 0;
    }
    .songinfo,  .songtime
    {
        width: auto;
    }
    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .playbar {
        width: calc(100vw - 75px); 
        right: 25px;
    }
    .seekbar {
        width: calc(100vw - 120px);
    }
    .hamburger {
        display: block;
    }
    .card {
        width: 55vw;
    }
    .cardContainer {
        margin: 0;
        justify-content: center; 
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 30vh;
    }
    .inside_playbar {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .header_buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }
    .btn-black
    {
        bottom: -69px;
    }
    
}
